.substance-footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.footer-link-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0.1;  
}

.footer-link-container p{
    margin-bottom: 0px !important;
}